<div class="container center-align">
  <h1 style="color: #B00100; padding-top: 20px">Welcome to the Dashboard</h1>

  <div class="waves-effect waves-light btn"><i class="material-icons left">message</i>
    <%= link_to 'Join the Conversation', messages_path, style: "color: #ffffff" %>
  </div>
</div>