<h1 class="container center-align" style="color: #B00100; padding-top: 20px">Welcome to the Dashboard</h1>

<div class="waves-effect waves-light btn"><i class="material-icons left">message</i>
  <%= link_to 'Messages', messages_path, style: "color: #ffffff" %>
</div>