<div class="message-input">
  <%= form_for(@message, remote: true) do |f| %>
    <%= f.text_area :content %>
    <label>
      <i class="material-icons right">send</i>
      <%= f.submit "Send" %>
    </label>

  <% end %>
</div>
